<div id="content-wrapper">
  <section id="image_about" class="no-margin">
    <img src="assets/images/login/about/about_banner.jpg" class="img-responsive">
  </section>
  <!--/#main-slider-->

  <section id="about-us" class="gray">
    <div class="container">
      <div class="gap"></div>
      <div class="row">
        <div class="col-md-12 fade-up using_flex">

          <p class="center">We are always glade to have new client.It is our to provide you with support and resources that you need.</p>
        </div>
      </div>
      <div class="row paddding_bootm">
        <div class="col-xs-12 col-md-2 fade-up" id="p1">
          <img src="assets/images/login/clients/limak.jpg" class="img-responsive jn">
          <p class="blue center">Limak</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p2">
          <img src="assets/images/login/clients/little.jpg" class="img-responsive jn">
          <p class="blue center">Little</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p3">
          <img src="assets/images/login/clients/creation'.jpg" class="img-responsive jn">
          <p class="blue center">creation</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p4">
          <img src="assets/images/login/clients/dar.jpg" class="img-responsive jn">
          <p class="blue center">dar</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p5">
          <img src="assets/images/login/clients/delicio.jpg" class="img-responsive jn">
          <p class="blue center">delicio</p>
        </div>

      </div>
      <div class="row paddding_bootm">
        <div class="col-xs-12 col-md-2 fade-up" id="p1">
          <img src="assets/images/login/clients/dip.jpg" class="img-responsive jn">
          <p class="blue center">dip</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p2">
          <img src="assets/images/login/clients/exit.jpg" class="img-responsive jn">
          <p class="blue center">exit</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p3">
          <img src="assets/images/login/clients/gulf.jpg" class="img-responsive jn">
          <p class="blue center">gulf</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p4">
          <img src="assets/images/login/clients/gym.jpg" class="img-responsive jn">
          <p class="blue center">gym</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p5">
          <img src="assets/images/login/clients/hasawi.jpg" class="img-responsive jn">
          <p class="blue center">hasawi</p>
        </div>

      </div>
      <div class="row paddding_bootm">
        <div class="col-xs-12 col-md-2 fade-up" id="p1">
          <img src="assets/images/login/clients/mods.jpg" class="img-responsive jn">
          <p class="blue center">mods</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p2">
          <img src="assets/images/login/clients/nasa.jpg" class="img-responsive jn">
          <p class="blue center">nasa</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p3">
          <img src="assets/images/login/clients/omoo.jpg" class="img-responsive jn">
          <p class="blue center">omoo</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p4">
          <img src="assets/images/login/clients/sabah.jpg" class="img-responsive jn">
          <p class="blue center">sabah</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p5">
          <img src="assets/images/login/clients/kp.jpg" class="img-responsive jn">
          <p class="blue center">kp</p>
        </div>

      </div>
      <div class="row paddding_bootm">
        <div class="col-xs-12 col-md-2 fade-up" id="p1">
          <img src="assets/images/login/clients/smart.jpg" class="img-responsive jn">
          <p class="blue center">smart</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p2">
          <img src="assets/images/login/clients/taiba.jpg" class="img-responsive jn">
          <p class="blue center">taiba</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p3">
          <img src="assets/images/login/clients/trolley.jpg" class="img-responsive jn">
          <p class="blue center">trolley</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p4">
          <img src="assets/images/login/clients/ufig.jpg" class="img-responsive jn">
          <p class="blue center">ufig</p>
        </div>
        <div class="col-xs-12 col-md-2 fade-up col-half-offset" id="p5">
          <img src="assets/images/login/clients/ufig1.jpg" class="img-responsive jn">
          <p class="blue center">ufig1</p>
        </div>

      </div>

    </div>
  </section>
  <section id="blogu" class="white">
    <div class="container">
      <h4 class="center kjdf">Our Drives</h4>
      <div class="row dj">
        <div class="col-md-3 fade-up jhdddc" *ngFor="let image of imageArr">
          <a class="group1" href="{{image}}" title="image1">
            <img src=" {{image}}" alt="" class="img-responsive db">
          </a>
        </div>
        </div>
      <!--/.row-->
    </div>
  </section>
  <app-footer-carousel></app-footer-carousel>
  </div>
  <!--/#blog-->