<div id="content-wrapper">
  <section id="image_about" class="no-margin">
    <img src="assets/images/login/services/services.jpg" class="img-responsive">
  </section>
  <!--/#main-slider-->

  <section id="about-us" class="white">
    <div class="container">
      <div class="gap"></div>
      <div class="row">
        <div class="col-md-12 fade-up">
          <p>We, being HR consultants are experienced professionals who have worked with different organizations and in various
            scenarios for over two decades. We come with our expertise. We study the organization and present to the management
            what can be done to improve upon the human capital either by providing training or by having policies and procedures
            in place. We also do HR outsourcing so you do not have the hassles of worrying about your human capital. In case
            if you have a HR Department, we can provide professional support to enhance their role and efﬁciency. </p>

          <p>We can take the role of an effective HR Department in providing all such supports to the management or provide
            support to your HR department in identifying potential employees who can be future managers, nurture the employees
            by suggesting training to develop their skills and ultimately be more productive to improve the organization’s
            proﬁt and earn excellent customer satisfaction. This can include creating / developing various forms required
            for the organization right from an application form to discharge form, develop a performance management system
            where all raises, feedback exercises and how objectives will be.</p>
        </div>
      </div>

    </div>
  </section>
  <section id="services" class="gray">
    <div class="container">

      <div class="row">
        <p class="blue servicewhatwedo">WHAT WE DO</p>
        <div class="col-md-4 col-sm-6">
          <div class="service-block">
            <div class="pull-left bounce-in image_class_services">
              <img src="assets/images/login/services/search.png" class="img-responsive">
            </div>
            <div class="media-body fade-up">
              <h3 class="media-heading new_media">Execulive
                <br>Search</h3>

            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="service-block">
            <div class="pull-left bounce-in image_class_services">
              <img src="assets/images/login/services/staff.png" class="img-responsive">
            </div>
            <div class="media-body fade-up">
              <h3 class="media-heading new_media">Permanent
                <br> Staffing</h3>

            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="service-block">
            <div class="pull-left bounce-in image_class_services">
              <img src="assets/images/login/services/process.png" class="img-responsive">
            </div>
            <div class="media-body fade-up">
              <h3 class="media-heading new_media">Recurtment
                <br> Process</h3>

            </div>
          </div>
        </div>
        <!--/.col-md-4-->
      </div>
      <!--/.row-->
      <div class="gap"></div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="service-block">
            <div class="pull-left bounce-in image_class_services">
              <img src="assets/images/login/services/hiring.png" class="img-responsive">
            </div>
            <div class="media-body fade-up">
              <h3 class="media-heading new_media">Bulk
                <br> Hiring</h3>

            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="service-block">
            <div class="pull-left bounce-in image_class_services">
              <img src="assets/images/login/services/contract.png" class="img-responsive">
            </div>
            <div class="media-body fade-up">
              <h3 class="media-heading new_media">Contract
                <br> Hiring</h3>

            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="service-block">
            <div class="pull-left bounce-in image_class_services">
              <img src="assets/images/login/services/training.png" class="img-responsive">
            </div>
            <div class="media-body fade-up">
              <h3 class="media-heading new_media">Training &
                <br> Development</h3>

            </div>
          </div>
        </div>
        <!--/.col-md-4-->
      </div>
      <!--/.row-->
    </div>
    <div class="gap"></div>

  </section>
  <section class="corporate-support white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="paraa bounce-in">Our extensive database of professional, highly skilled, categories combined with the specialized selection procedure
            has resulted in recruiting the best person for any required assignment. Once the contract is ﬁnalized, we take
            full responsibility for the selection of a right candidate for the speciﬁed post results in satisfying both customers
            and the job seekers.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="blue">NON IT</p>
        </div>

        <div class="gap"></div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Education</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Hospitality and Travel</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Life Science & HealthCare</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Advertising</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Real Estae</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Telecommunication</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Engineering and Manifucturing</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Banking and finacial Services</span>
        </div>
      </div>
      <hr/>
      <div class="row border_bootmm">
        <div class="col-md-12">
          <p class="blue">IT AND ITES</p>
        </div>

        <div class="gap"></div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Infrastructure And Support</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Application Development And Maintanance</span>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Emarging Technologies</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Technical Architecture</span>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">

        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">QA and Testing</span>
        </div>
        <div class="col-md-4"></div>
      </div>
      <hr/>
      <div class="row border_bootmm">
        <div class="col-md-12">
          <p class="blue">CORPORATE SUPPORT</p>
        </div>

        <div class="gap"></div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Sales</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Accounting</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Human Resources</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Marketing</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Legal</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Logistics</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Finace</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Secretarial</span>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check"></span>
          <span class="non_it_class">Procurement</span>
        </div>
      </div>
    </div>
  </section>
  <app-footer-carousel></app-footer-carousel>
  </div>