<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="assets/images/banner1.jpg" class="img-responsive">
            </div>
            <!--/.item-->
            <div class="item">
                <img src="assets/images/banner4.jpg" class="img-responsive">
            </div>
            <!--/.item-->
            <div class="item">
                <img src="assets/images/banner1.jpg" class="img-responsive">
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
</section>
<!--/#main-slider-->

<div id="content-wrapper">
    <section id="services" class="gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="gap fade-down section-heading">
                        <p>
                            <strong>LOGIN INTERNATIONAL</strong> Recruitment has been in operation since 2012 which makes us one
                            of Melbourne’s longest running privately owned permanent and temporary recruitment consultancies.
                            We recruit across a wide range of industries and at all position levels. LOGIN INTERNATIONAL
                            Recruitment is a professional company having our branches in Jordan, India, Nepal, Philipines,
                            Egypt, Bhutan, Ukraine and Sri-Lanka.
                        </p>
                        <div class="read-more-wrapper">
                            <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="assets/images/infograph.png" class="img-responsive infograph">
                </div>
            </div>

        </div>

    </section>

    <section id="about-us" class="white">
        <div class="container">
            <div class="row why_row">
                <div class="col-md-12">
                    <div class="center fade-down section-heading">
                        <h3 class="main-title">WHY US</h3>

                        <p>We promise our clients and candidates that we are: </p>
                    </div>
                </div>
            </div>
            <img src="assets/images/why.png" class="img-responsive why">
        </div>

    </section>

    <section id="professional" class="white">
        <div class="container">
            <div class="row why_profo">
                <div class="col-md-4">
                    <div class="gap"></div>
                    <div class="fade-down section-heading">
                        <h3 class="main-title profess">We help people to get successful job and become professionals</h3>

                        <div class="read-more-wrapper">
                            <a href="#" class="btn btn-outlined btn-primary readd">Read more</a>
                        </div>
                    </div>
                    <div class="gap"></div>
                </div>
            </div>
        </div>

    </section>

    <section id="stats" class="divider-section">
        <div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon">
                            <span class="pe-7s-timer bounce-in"></span>
                        </span>
                        <h1>
                            <span class="counter">6</span>+</h1>
                        <h3>HOURS SAVED</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon">
                            <span class="pe-7s-light bounce-in"></span>
                        </span>
                        <h1>
                            <span class="counter">12</span>K</h1>
                        <h3>FRESH IDEAS</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon">
                            <span class="pe-7s-graph1 bounce-in"></span>
                        </span>
                        <h1>
                            <span class="counter">8</span>+</h1>
                        <h3>HUGE PROFIT</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon">
                            <span class="pe-7s-box2 bounce-in"></span>
                        </span>
                        <h1>
                            <span class="counter">80</span>%</h1>
                        <h3>THINGS IN BOXES</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </section>
  <app-footer-carousel></app-footer-carousel>
    </div>