<div id="content-wrapper">
  <section id="image_about" class="no-margin">
    <img src="assets/images/login/about/about_banner.jpg" class="img-responsive">
  </section>
  <!--/#main-slider-->

  <section id="about-us" class="gray">
    <div class="container">
      <div class="gap"></div>
      <div class="row">
        <div class="col-md-12 fade-up">
          <p>
            <strong>LOGIN INTERNATIONAL Recruitment</strong> has been in operation since 2012 which makes us one of Melbourne’s longest
            running privately owned permanent and temporary recruitment consultancies. We recruit across a wide range of
            industries and at all position levels. LOGIN INTERNATIONAL Recruitment is a professional company having our branches
            in Jordan, India, Nepal, Philippines, Egypt and Sri-Lanka. </p>

          <p>LOGIN INTERNATIONAL Recruitment’s commitment to excellence in customer service is fostered through our commitment
            to the provision of quality staff training and induction. The LOGIN INTERNATIONAL Recruitment team is well trained.
            (www. loginint.com). The objective at all times is to ensure that we employ and develop employees that are equipped
            to provide customer focused service delivery.</p>

          <p>LOGIN INTERNATIONAL understand your experience with our organization is a direct link to the level of service you
            received from our staff. Our staff love what they do and it shows. When you deal with LOGIN INTERNATIONAL Recruitment
            professional you will experience an exceptional service standard coupled with valuable recruitment experience.
            </p>
        </div>
      </div>

    </div>
  </section>
  <section id="vision">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3 fade-up">
          <img src="assets/images/login/about/v.png" class="img-responsive vision_image">
          <p class="vision_para">Vision</p>
          <p class="vision_para_one">To become a World Class Company, through Dedicated Focus, Continuous Innovation, Technology, Quality, Safety and
            providing superior Customer Service while achieving Financial Viability. We understand recruitment as a mission,
            with the individual as the most important element in the process. This is why, we created a team that is fully
            committed to creating just such a vision as the common good. We understand success as client satisfaction and
            long-term cooperation. </p>
        </div>
        <div class="col-md-3 fade-up">
          <img src="assets/images/login/about/m.png" class="img-responsive vision_image">
          <p class="vision_para">Mission</p>
          <p class="vision_para_one">It is our mission to support our clients through their current and future business challenges. Our activities,
            aimed at ﬁ nding a balance in the candidates market serve to give our clients signiﬁ cance, which will support
            their business development via the growth of employment or improvement in the quality of their human resources.
            </p>
        </div>
        <div class="col-md-3 fade-up">
          <img src="assets/images/login/about/p.png" class="img-responsive vision_image">
          <p class="vision_para">Philosophy</p>
          <p class="vision_para_one">Our Philosophy is based on total Clients Satisfaction by exceeding our client”s requirements the ﬁrst time and
            every time, and to achieve this we implemented the principles of total Quality Management. Our strength emanates
            from our distinct culture. Strong and close relationships with our clients, employees”, competence and loyalty,
            entrepreneurial and ﬂ exible management, capability, dynamism locus on quality and safety standards. </p>
        </div>
      </div>
    </div>
  </section>
  <section id="message_Director" class="white fade-up">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/login/about/majid.png" class="img-responsive">
        </div>
        <div class="col-md-8">
          <p class="about_managing">Message from the
            <strong>Managing Director</strong>
          </p>
          <p class="about_p_tag">I take this opportunity to thank our valued customers, whose continued patronage and conﬁdence in our services
            to extend the best of services and enables us to provide and placing the right candidates in the right jobs.
            </p>
          <p class="about_p_tag">Login International passion to place the right candidates in the right job has helped us to amass over a decade
            of successful stories in the human resource business. </p>
          <p class="about_p_tag">Each client and candidate is like an extended family member to us. And like family, we understand and anticipate
            your needs, matching the right candidates to the right clients.</p>
          <p class="about_p_tag">Our professionalism, coupled with a strong personal touch enhances the probability of success at every step. Our
            goal is to create a long-lasting client-candidate relationship, which will translate into long term winning strategies
            and exponential growth for both parties. But we know that ﬁnding a candidate with the right skill set is not
            the be all and end all. At Login International, we understand that overall chemistry between the candidate and
            the existing management is paramount in ensuring a good match.</p>
          <p class="about_p_tag">Consultants are empowered with the ﬁnal authority and ﬂexibility to deal with each client’s requirements. In our
            commitment to ﬁnding the best match, we customize our approach, systems and processes not only from client to
            client but also from assignment, all the while keeping underlying principles common. </p>
          <p class="about_p_tag">To ensure success, we believe in hiring people with the right values and specialized experience. If you wish to
            ﬁnd out more or engage our manpower solution, please do not hesitate to contact us. We look forward to have you
            as a part of the Login International family. </p>
        </div>
      </div>
    </div>
  </section>
<app-footer-carousel></app-footer-carousel>
  </div>